@charset "UTF-8";

*{
	margin:0px;
	padding:0px;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}

body {
	padding: 0;
	margin: 0;
	background: url(../img/body-background.jpg) 0 0 repeat;
	font-size: 14px;
}


.w10{width: 10px}.w20{width: 20px}.w30{width: 30px}.w40{width: 40px}.w50{width: 50px}
.w60{width: 60px}.w70{width: 70px}.w80{width: 80px}.w90{width: 90px}.w100{width: 100px}
.w110{width: 110px}.w120{width: 120px}.w150{width: 150px}.w160{width: 160px}.w170{width: 170px}.w180{width: 180px}.w190{width: 190px}
.w200{width: 200px}.w250{width: 250px}.w260{width: 260px}.w270{width: 270px}.w280{width: 280px}.w290{width: 290px}
.w300{width: 300px}.w350{width: 350px}.w360{width: 360px}.w370{width: 370px}.w380{width: 380px}.w390{width: 390px}
.w400{width: 400px}.w420{width: 420px}.w430{width: 430px}.w440{width: 440px}.w450{width: 450px}.w460{width: 460px}.w470{width: 470px}.w480{width: 480px}
.w500{width: 500px}.w510{width: 515px}.w520{width: 520px}.w530{width: 530px}.w550{width: 550px}.w580{width: 580px}
.w600{width: 600px}
.w650{width: 650px}.w700{width: 700px} .w800{width: 800px}

.h100 {height: 100px} .h150 {height: 150px} .h250 {height: 250px}

.bold {
	font-weight: bold;
}

a {
	text-decoration: none;
	color: inherit;
}

#container-nav {
	height:219px;
	width:100%;
	background:url(../img/row-top-tail-5.png) center;
	background-repeat:repeat-x;
}

#navigation{
	width:960px;
	margin:0px auto 0px auto;
	margin-top:30px;
}

#login {
	width:960px;
	margin:0px auto 0px auto;
	padding:20px 0px 0px 0px;
}

#email-input, #pass-input {
	width:150px;
	height:25px;
}

#bg-header{
	min-height:219px;
	width:100%;
	position:relative;
	background-color:#2C35D4;
	z-index:2;
	background:url(../img/header-bg3.jpg) center bottom no-repeat;
}

#bg-title{
	min-height:100px;
	width:100%;
	position:relative;
	z-index:2;
	background:url(../img/header-bg4.jpg) center bottom no-repeat;
}

#reg-title{
	width:960px;
	text-align:center;
	margin:0px auto 0px auto;
	padding-top:30px;
	color:#FFF;
}

/*header {min-height:271px;width:100%;position:relative;z-index:2;background:url(../images/header-bg1.jpg) center bottom no-repeat}*/

#account ul{
	list-style-type:none;
	padding:10px 0px 0px 0px;
}

#account ul li{
	float:right;
	margin-left:30px;
	color:#ffffff;
}

#logo-wibee{
	float:left;
}

#title {
	float:left;
	font-size:28px;
	margin:5px 0px 0px 20px;
}

#menu{
	float:right;
	margin-top:30px;
}

#menu ul li{
	list-style-type:none;
	float:right;
	margin:0px 0px 0px 60px;
	font-size:22px;
	display:block;
	border-bottom:5px solid #D5D40E;
}

#image-banner{
	width:960px;
	margin:0px auto 0px auto;
}

#deskripsi{
	width:960px;
	margin:20px auto 0px auto;
}

#btn-des-reseller, #btn-manfaat-reseller, #btn-cara-reseller{
	width:100px;
	height:35px;
}

#deskripsi-reseller, #manfaat-reseller, #cara-reseller{
	width:960px;
	height:450px;
	background-color:#FFF;
	margin-top:-367px;
	position:relative;
	z-index:99;
	display:none;
}

#sub-judul{
	font-size:24px;
	text-align:center;
}

#deskripsi-close, #manfaat-close, #cara-close{
	width:30px;
	height:30px;
	background-color:#C8B400;
	text-align:center;
	line-height:30px;
	float:right;
	font-size:24px;
	cursor:pointer;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
}


#bg-produk{
	min-height:471px;
	width:100%;
	position:relative;
	background-color:#2C35D4;
	z-index:2;
	background:url(../img/header-bg3.png) center bottom no-repeat;
}

#buku{
	width:960px;
	margin:0px auto 0px auto;
	padding-top:40px;
}

#button-produk{
	width:285px;
	height:30px;
	background-color:#ABADE8;
	float:right;
	margin-top:-30px;
	text-align:center;
	line-height:30px;
	position:relative;
	z-index:99;
	cursor:pointer;
}

#buku > #button-produk:hover{
	background-color:#C8A40A;
}

#footer{
	min-height:100px;
}

#deskripsi-text{
	margin:0px 70px 70px 70px;
	padding:0px 40px 20px 0px;
	height:300px;
	overflow:scroll;
	font-size:17px;
	line-height:150%;
	color:#5E5E5E;
}

#container-form{
	width:850px;
	background-color:#fff;
	margin:0px auto 0px auto;
	box-shadow:1px 1px 5px #C8C3C3;
}

#logo-form{
	width:300px;
	float:left;
	height:400px;
}


#box-form{
	width:500px;
	float:left;
	margin-left:50px;
	margin-top:100px;
}


.width-fill{
	width:350px;
	height:35px;
	border-radius:5px;
	border:1px solid #E5CAA7;
}

#provinsi{
	float:left;
}

#kode-post{
	float:left;
}

#telp{
	float:left;
}

#bb-pin{
	float:left;
}

div.p{
	margin-top:15px;
}

div.p div#provinsi{
	margin-top:15px;
}

div.p div#kode-post{
	margin-top:15px;
}

.submit-reg{
	background-color:#D09516;
	width:140px;
	height:40px;
	border:0px;
	border-radius:5px;
}

.form .error_note {
	color:red;
	margin-left:120px;
	margin-bottom: 10px;
}

.form .error_note:empty {
	margin:0;
}

.box-order{
	background-color:#fff;
	box-shadow:1px 1px 5px #C8C3C3;
	padding-left:30px;
	padding-top:10px;
	padding-bottom:20px;
	margin-bottom:20px;
}

.legend{
	font-size:25px;
	border-bottom:5px solid #C59210;
}

.order-fill{
	width:200px;
	height:35px;
	border-radius:5px;
	border:1px solid #E5CAA7;
}

#shipping_box{
	background-color:#fff;
	box-shadow:1px 1px 5px #C8C3C3;
	padding-left:30px;
	padding-top:10px;
	padding-bottom:20px;
	margin-top:20px;
	margin-bottom:20px;
}
	
.btnDelShipping{
	width:200px;
	height:40px;
	line-height:40px;
	background-color:#DBBF04;
	margin-top:10px;
	margin-right:30px;
	border-radius:5px;
}

.btnDelShipping:hover, #btnAddShipping:hover, #btnSabmitShipping:hover{
	background-color:#E85614;
	cursor:pointer;
}

.shipping-fill, .shipping_province, .shipping_city, .shipping_cost{
	width:330px;
	height:35px;
	border-radius:5px;
	border:1px solid #E5CAA7;
}

.framee{
	margin-bottom:20px;
}

#btnAddShipping{
	width:200px;
	height:40px;
	line-height:40px;
	background-color:#DBBF04;
	margin-top:10px;
	margin-right:30px;
	border-radius:5px;
	border:0px;
}

#btnSabmitShipping{
	width:200px;
	height:40px;
	line-height:40px;
	background-color:#DBBF04;
	margin-top:10px;
	margin-right:30px;
	border-radius:5px;
	border:0px;
}



/*style for product*/


#container-produk{
	width:960px;
	margin:20px auto 0px auto;
}

#container-produk > .tgpm-box{
	width:300px;
	height:410px;
	background-color:#fff;
	float:left;
	margin-left:20px;
	margin-bottom:20px;
	box-shadow:1px 1px 5px #C8C3C3;
	border-radius:10px;
}

.img-tgpm{
	width:230px;
	margin:35px auto 0px auto;
	cursor:pointer;
}

#tgpm-preview{
	width:850px;
	height:450px;
	 position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	background-color:#fff;
	z-index:3;
	display:none;
	padding:40px;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}

#shadow{
	width:100%;
	min-height:2000px;;
	background-color:#000;
	position:absolute;
	top:0px;
	left:0px;
	z-index:2;
	display:none;
}



#img-detail, #book-desk{
	float:left;
}

#img-detail{
	width:400px;
}

#book-desk{
	width:430px;
	text-align:center;
	padding-top:80px;
	font-size:18px;
	color:#929191;
	line-height:150%;
}

#btn-close{
	position:absolute;
	right:0px;
	margin-top:-60px;
	margin-right:-20px;
}

#btn-order{
	float:right;
	margin-top:40px;
}

/*#page-container {
	padding-top: 110px;
}
#header {
	width: 100%;
	height: 110px;
	position: fixed;
	background: white;
	top: 0;
	z-index: 999;
	background: url(../img/header-background.jpg) 0 0 repeat;

}

#header #navigation {
	position: relative;
	height: 110px;
	width: 1024px;
	margin: auto;

}

#navigation #login {
	position: absolute;
	top: 0;
	right: 0;
	margin: 15px 5px 0 0;
}

#navigation #login #account {
	text-align: right;
	color: white;
	font-size: 14px;
	text-decoration: underline;
	margin-top: 10px
}


#navigation #main-nav {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: grey ;
	border-top-right-radius:1em;
	border-top-left-radius:1em;
	height: 35px;
	width: inherit;
}

#main-nav div {
	float: left;
	height: inherit;
}
#main-nav #title {
	width: 300px;
	line-height: 30px;
	vertical-align: middle;
	padding-left: 20px;
	font-size: 20px;
	color: gold;
	text-shadow: 1px 1px black;
}

#main-nav ul, #login ul, #history-nav ul {
	list-style: none outside none ;
}

#login ul li {
	float: right;
	width: 120px;
	margin: 0 0 0 10px;
	text-align: center;
	text-decoration: none;
	text-align: center;
}

#main-nav ul, #history-nav ul {
	position: absolute;
	margin: 0;
	bottom: 0;
}

#main-nav ul {
	right: 0;
}

#main-nav ul li {
	float: right;
	width: 120px;
	margin: 0 10px;
	text-align: center;
	text-decoration: none;
	height: 25px;
	line-height: 25px;
	vertical-align: middle;
}

#main-nav ul li.selected {
	background-color: white;
	border-top-right-radius:5px;
	border-top-left-radius:5px;
}

#main-nav a {
	text-decoration: none;
	color: gold;
	text-shadow: 1px 1px black;
	font-weight: bold;

}

#history-nav {
	position: 	relative;	
	height: 30px;
	color: 	blue;
}

#history-nav ul li {
	float: left;
	width: 120px;
	margin: 0 10px;
	text-align: center;
	text-decoration: none;
	height: 25px;
	line-height: 25px;
	vertical-align: middle;
	cursor: pointer;	
}

#history-nav ul li.selected {
	border-top-right-radius:5px;
	border-top-left-radius:5px;
	background-color: white;
}



div#message {
	padding: 20px 0 0 20px; 
}



#page {
	width: 1024px;
	background-color: white ;
	min-height: 600px;
	height: auto;
	margin:  auto;
	display: block;

}
*/

/*
.form {
	margin:0;
}

div.frame {
	border-radius:5px;
	background-color:#D0C90E;
	padding: 10px;
	margin-bottom: 10px;
	box-shadow:2px 2px 10px #A0A0A0;
}

div.frame.top {
	border-bottom-right-radius:0;
	border-bottom-left-radius:0;
	margin-bottom: 	0;
	padding-bottom: 0;
}

div.frame.bottom {
	border-top-right-radius:0;
	border-top-left-radius:0;
	padding-top: 0;
}

div.p {
	display: inline-block;
	width: 100%;
	margin-top: 10px;
}

.form label.legend {
	font-weight: bold;
	font-size: 16px;
}

.form .button {
	background-color: 	#F6AE00;
	color: #000000;
	cursor: pointer;
	font-family: inherit;
	font-weight: bold;
	height: 30px;
	text-shadow: 1px 1px #808080;
}
.form .title{
	background: none;
	float: left;
	margin: 0 15px 0 0;
	text-align: right;
	width: 120px;
	height: 20px;
	line-height: 20px;
	vertical-align: top;
}

.form .error_note {
	color: red;
	margin-left: 120px  ;
	margin-bottom: 10px;
}

.form .error_note:empty {
	margin: 0;
}

.form .text {
	font-size: inherit;
}
*/
.table{
	border-spacing: 0px;
	clear: both;
	table-layout: fixed;
	margin: auto;
}

table tr.no-border td {
	border: none;
}

 .table td{
	font-size: 14px;
	border: 1px solid #58585B;
	border-left: none;
	border-top: none;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	text-align: center;

}
.table td.left {
	border-left: 1px solid #58585B;
}

.table tr.top td {
	border-top: 1px solid #58585B;
}

.table thead {
	background-color: rgb(200,200,200);
	text-align: center;
}


.table tbody tr.order:hover td {
	background-color: rgb(240,240,240);
}

.table tbody tr.selected td, .table tbody tr.selected:hover td { 
	background-color: rgb(250,196,186);
}

.table tbody tr.order td  {
	padding: 2px 5px;
	cursor: pointer;

}

.status_0 {
	color: rgb(109,110,112);
	font-weight:bold;

}

.status_1 {
	color: #E6C200;
	font-weight:bold;

}

.status_2 {
	color: green;
	font-weight:bold;

}
.status_4 {
	color: rgb(39,169,225);
	font-weight:bold;

}


.status_3 {
	color: #BE1E2D;
	font-weight:bold;

}

.lbl_disclaimer {
	color: blue;
	cursor: pointer;
}



/* style for order-history */

#container-oh{
	width:960px;
	margin-left:auto;
	margin-right:auto;
}

#history-nav ul li {
	float:left;
	width:100px;
	background-color:#D9B094;
	border:1px solid #DF7F14;
	height:30px;
	border-bottom:0px;
	border-left:0px;
	cursor:pointer;
	text-align:center;
	line-height:30px;
}

#history-nav ul{
	list-style:none;
	border-left:1px solid #DF7F14;
	overflow:hidden;
	margin:0;
}

