


#ContainerPeraturan{
	width:930px;
	margin-left:auto;
	margin-right:auto;
	background-color:#FFFFFF;
	padding-top:30px;
	padding-bottom:30px;
}

#TitleCariPeraturan{
	width:870px;
	margin-left:30px;
	margin-right:30px;
	background-color:#099;
	border-radius:10px;
	padding-top:10px;
	margin-bottom:15px;
}


#BoxCariPeraturan{
	width:870px;
	margin-top:10px;
	background-color:#87E6FA;
	border-radius:10px;
	padding-top:20px;
	padding-bottom:20px;
}

#LoopPeraturan{
	margin-left:40px;
	margin-top:5px;
	width:25px;
	height:25px;
}

select#myoption{
	width:200%;
}


#FormPeraturan{
	margin-left:20px;
	border: 1px solid #099;
	padding:20px;
	margin-right:20px;
	background-color:#FFFFFF;
}

#TabelPeraturan{

}


#PagingTop{
	margin-left:20px;
	margin-top:25px;
	margin-bottom:10px;
	
}


#PagingBottom{
	margin-left:20px;
	margin-top:10px;
	
}