/* CSS Document */


/*--- start style for all */


*{
	padding:0px;
	margin:0px;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	font-size:15px;
}

body{
		background-color:#099;
}

#BackgroundGray{
	
	background-color:#DDDDDD;
}




/*--- start style logo */

#ContainerHeader{
	background-color:#FFFFFF;
	padding-top:10px;
	width:930px;
	margin-left:auto;
	margin-right:auto;

}

#Logo{
	width:930px;
	height:30px;
	margin-left:auto;
	margin-right:auto;
}

#ImageLogo{
	width:110px;
	height:25px;
	margin-left:10px;
}


/* end style logo */






/* start style menu */

#BackgroundMenu{
	width:930px;
	height:25px;
	margin-left:auto;
	margin-right:auto;
	background-color:#099;
}

#Menu{
	margin-left:217px;
}


ul#NavMenu{

}

ul#NavMenu, ul.SubMenu1, ul.SubMenu2{
	list-style-type:none;
}

ul#NavMenu li{
	text-align:center;
	float:left;
	position:relative;
}

#NavMenu > #Home{
	width:60px;
	border-right:1px solid #FFF;
}

#NavMenu > #About{
	width:60px;
	border-right:1px solid #FFF;
}

#NavMenu > #Download{
	width:80px;
	border-right:1px solid #FFF;
}

#NavMenu > #Products{
	width:80px;
	border-right:1px solid #FFF;
}

#NavMenu > #News{
	width:80px;
	border-right:1px solid #FFF;
}

#NavMenu > #Articles{
	width:70px;
	border-right:1px solid #FFF;
}

#NavMenu > #ContactUs{
	width:80px;
}





ul#NavMenu a{
	text-decoration:none;
	display:block;
	height:25px;
	line-height:25px;
	background-color:#099;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	letter-spacing:0px;
	color:#FFF;
	
}



ul#NavMenu .SubMenu1 #UpdateTaxes{
	height:25px;
	width:80px;
	line-height:25px;
}

ul#NavMenu .SubMenu1 #Peratuan{
	height:25px;
	width:80px;
	line-height:25px;
}




ul#NavMenu .SubMenu1 #fortax{
	height:25px;
	width:80px;
	line-height:25px;
}




ul#NavMenu .SubMenu2 a{
	margin-left:20px;
}

ul#NavMenu li:hover > a{
	background-color: #0CC;
}

ul#NavMenu li:hover a:hover{
	background-color: #6C0;
}

ul#NavMenu ul.SubMenu1{
display:none;
}

ul#NavMenu ul.SubMenu2{
display:none;
position:absolute;
top:0px;
left:80px;
}

ul#NavMenu li:hover .SubMenu1{
	display:block;
	position:absolute;
}

ul#NavMenu .SubMenu1 li:hover .SubMenu2{
	display:block;
	position:absolute;
}


/* end style menu */



/* start style video */

#ContainerVideo{
		height:320px;
}

#Video{
	width:930px;
	height:350px;
	margin-left:auto;
	margin-right:auto;
}


#VideoBannerLeft{
	width:217px;
	height:320px;
	background-color:#00CC99;
}

#VideoMiddle{
	width:496px;
	height:320px;
	background-color:#0099CC;
	margin-left:217px;
	margin-top:-320px;

}




#VideoBannerRight{
	width:217px;
	height:320px;
	margin-top:-320px;
	margin-left:713px;
}

/* end style video */







/* start style slider */

#ContainerSlider{
	width:930px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
}



#slider {
	display:block;
}


#slider > SliderImage{
	width:930px;
	height:230px;
}


#prev {
	height: 50px;
	width: 50px;
	position: relative;
	z-index:99;
	float:left;
	margin-top:-150px;
	margin-left:20px;
}


#next {
	height: 50px;
	width: 50px;
	position: relative;
	z-index:99;
	float:right;
	margin-top:-150px;
	margin-right:20px;	
}
/* start style slider */






/* start style footer */

#Footer{
	background-color:#099;
	margin-top:10px;
	height:30px;
}


#CopyRight{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-size:14px;
	line-height:30px;
}

/* end style slider */





/* start style deskripsi fortax */

#ContainerFortaxDeskripsi{
	width:930px;
	margin-left:auto;
	margin-right:auto;
	background-color:#FFFFFF;
	margin-top:5px;
	
}

#TextFortaxDeskripsi{
	padding:30px 30px 30px 30px;
	
}


#TemaLeft{
	float:left;
	margin-right:30px;
}

#TemaRight{
	float:left;
}

#ImageHarga{
float:left;
}


/* end style deskripsi fortax */