/* CSS Document */


#ContainerUpdateTaxes{
	width:930px;
	margin-left:auto;
	margin-right:auto;
	padding-top:30px;
	background-color:#FFFFFF;
}



#BoxLeft1{
	width:150px;
	height:50px;
	margin-left:30px;
	background-color:#69F;
	line-height:50px;
	text-align:center;
	font-size:20px;
	float:left;
}

#BoxLeft2{
	width:150px;
	height:50px;
	margin-left:30px;
	background-color:#FC0;
	float:left;
	line-height:50px;
	text-align:center;
	font-size:20px;
	clear:left;
}


#detail_content_box{
	width:720px;
	background-color:#0BCCF4;
	float:left;
	margin-bottom:30px;
	padding-bottom:30px;
	margin-left:100px;
	margin-top:-40px;

	
}


#detail_content_box > #row1{
	width:660px;
	margin-left:30px;
	margin-right:30px;
	margin-top:10px;
	border-bottom:1px solid #FFFFFF;
}

#detail_content_box > #row1 > #row2{
	width:660px;
	margin-top:10px;
	border-bottom:1px solid #FFFFFF;
	background-color:#FFF;
	display:none;
	margin-bottom:10px;
	float:left;
}

#detail_content_box > #row3{
	width:660px;
	margin-left:30px;
	margin-right:30px;
	margin-top:10px;
	border-bottom:1px solid #FFFFFF;
}



#detail_content_box > #row3 > .row_detail{
	width:660px;
	margin-top:10px;
	background-color:#FFF;
	display:none;
	margin-bottom:10px;
}

.BtnUnduh{
width:150px;
height:40px;
background-color:#46FFFF;
text-align:center;
line-height:40px;
}


.BtnDetail{
width:150px;
height:40px;
background-color:#46FFFF;
margin-top:10px;
text-align:center;
line-height:40px;
margin-bottom:10px;
}



#detail_content_box > #row5{
	width:660px;
	margin-left:30px;
	margin-right:30px;
	margin-top:10px;
	border-bottom:1px solid #FFFFFF;
}



#detail_content_box > #row5 > #row6{
	width:660px;
	margin-top:10px;
	background-color:#FFF;
	display:none;
	margin-bottom:10px;
}



#detail_content_box > #row7{
	width:660px;
	margin-left:30px;
	margin-right:30px;
	margin-top:10px;
	border-bottom:1px solid #FFFFFF;
}


#detail_content_box > #row7 > #row8{
	width:660px;
	margin-top:10px;
	display:none;
	margin-bottom:10px;
	background-color:#FFF;
}


#GambarUpdateTaxes1{
	width:340px;
	height:220px;
	float:left;
	margin-right:20px;
	margin-bottom:20px;
}

#GambarUpdateTaxes2{


	float:left;
	margin-right:40px;
	margin-bottom:20px;
}



#KetGbrUpdateTaxes{
	float:right;
	width:200px;
}


#Guide{
	margin:20px 20px 20px 20px;
}

.BtnUnduh, .BtnDetail {
	cursor:pointer;
}

a{
	text-decoration:none;
}

.BtnDetail:hover{
	background-color:#66FF33;
}

.BtnUnduh:hover{
	background-color:#66FF33;
}